::-webkit-scrollbar{
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--chakra-colors-yellow-400);
}

::-webkit-scrollbar-thumb {
  background-color: var(--chakra-colors-gray-50);
  border-radius: 3px;
}
